a.bbb {
    display:inline-block;
    border-radius:5px;
    padding:20px;
    border:1px solid #1862DB;
    background-color:#C3D7F7;
    text-decoration:none;
}

    a.bbb:hover {

        background-color:#D2E1F7;
    }
