table.bbb-shortcode th,
table.bbb-shortcode td {
	vertical-align:top;
	text-align:left;
	padding-bottom:5px;
}

table.bbb-shortcode td select {
	width:300px;
	height:200px !important;
}

table.bbb-shortcode th {
	max-width:110px;
}

table.bbb-shortcode p {
	margin:0;
	padding:0;
}

table.bbb-shortcode small {
	color:#666;
	font-size:0.9em;
}

table.bbb-shortcode p#shortcode {
	background-color:#F9F954;
}